<IfModule mod_rewrite.c>
    RewriteEngine On
        RewriteBase /frameworkPatterns

        # Se o arquivo existe na raiz, redirecione para 404.php
        RewriteCond %{REQUEST_FILENAME} -f
        RewriteCond %{REQUEST_URI} ^/([^/]+)$
        RewriteRule ^(.*)$ 404.php [L]

        # Redirecionar apenas a raiz para public/index.php
        RewriteRule ^$ public/index.php [L]

        # Redirecionar todas as requisições para public/index.php
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
